<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Quizzes</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Quiz Name</th>
                    <th>Questions</th>
                    <th>Creation Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="$ctrl.quizzes.length > 0" ng-repeat="quiz in $ctrl.quizzes">
                    <td><a href="#!/student/take-quiz/{{quiz.id}}">{{quiz.name}}</a></td>
                    <td>{{quiz.questions.length}}</td>
                    <td>{{quiz.creationDate | date:'MM/dd/yyyy h:mma' }}</td>
                    <td>
                        <a href="#!/student/take-quiz/{{quiz.id}}" type="button" class="btn btn-default btn-xs" >
                            <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Start Quiz
                        </a>
                    </td>
                </tr>
                <tr ng-show="!$ctrl.quizzes">
                    <td class="warning" colspan="4">No available quizzes yet. </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>